<!DOCTYPE html>
<html>
<head>
    <script src="./scripts.js"></script>
    <style>
        .decoded-text {
            display: none;
            background: #bababa;
            max-width: 500px;
            padding: 10px;
            min-height: 100px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <h1>Document ID v0.1 Encoder/Decoder</h1>
    <p><small>Only works for PDF's for now. Click <a href="/demo">here</a> to view demo</small></p>
    <h3>Encode File</h3>
    <input class="originalFile" type="file"> <br /><br />
    <textarea class="message" placeholder="Type message here" cols="40" rows="8"></textarea><br /><br />
    <button onclick="encode()">Encode</button><br /><br />
    <hr />
    <h3>Decode File</h3>
    <input class="encodedFile" type="file"> <br /><br />
    <button onclick="decode()">Decode</button> <br /><br />
    <pre class="decoded-text" style="display: none;"></pre>

</body>

</html>